<h1>Players</h1>

<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :number) %></th>
      <th><%= sort_link(@q, :points) %></th>
      <th><%= sort_link(@q, :rebounds) %></th>
      <th><%= sort_link(@q, :assists) %></th>
      <th><%= sort_link(@q, :blocks) %></th>
      <th><%= sort_link(@q, :steals) %></th>
      <th><%= sort_link(@q, :fouls) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.number %></td>
        <td><%= player.points %></td>
        <td><%= player.rebounds %></td>
        <td><%= player.assists %></td>
        <td><%= player.blocks %></td>
        <td><%= player.steals %></td>
        <td><%= player.fouls %></td>
        <td><%= link_to 'View Card', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
<%= link_to 'Stat Tracker', root_path %>
